:root, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
}

header, footer {
    background-color: grey;
    width: 100%;
}

.battlefield-table {
    margin: 0;
    display: inline-block;
    position: relative;
}

.battlefield-cell {
    border: 1px solid #b4b4ff;
    padding: 0;
}

.battlefield-cell-content {
    position: relative;
    height: 2rem;
    width: 2rem;
}

.marker {
    position: absolute;
    font-size: 11px;
    z-index: -1;
}

.marker-col {
    top: -2em;
    left: 0;
    width: 100%;
    text-align: center;
}

.marker-row {
    left: -3em;
    width: 2em;
    text-align: right;
    top: 1em;
    height: 1em;
}