:root, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

header, footer {
    background-color: grey;
    width: 100%;
}

.battlefield-table {
    margin: 0;
    display: inline-block;
    position: relative;
}

.battlefield-cell {
    border: 1px solid #b4b4ff;
    padding: 0;
}

.battlefield-cell-content {
    position: relative;
    height: 2rem;
    width: 2rem;
}